<div class="claiming-column">
  <mat-card style="padding: 0;">
    <mat-card-content>
      <div class="accounts">
        <div class="inbox_people">
          <div class="inbox_chat">
            <div (click)="select(user.uuid)" *ngFor="let user of instagramUsers" class="{{isAccountSelected(user)}}">
              <div class="chat_people">
                <div class="chat_img"><img src="{{user.profilePic}}" alt="sunil"></div>
                <div class="chat_ib">
                  <h5><a href="{{user.profileUrl}}" target="_blank">{{user.username}}</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <div class="add-account" *ngIf="hasSignedIn()">
    <mat-card *ngIf="!submitted">
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <mat-input-container>
            <input matInput formControlName="username" required placeholder="Имя пользователя">
          </mat-input-container>
          <mat-input-container>
            <input matInput formControlName="password" required type="password" placeholder="Пароль">
          </mat-input-container>
          <button type="submit" mat-raised-button color="primary">Добавить аккаунт</button>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-spinner style="margin: 0 auto" *ngIf="submitted" mode="indeterminate"></mat-spinner>
  </div>
</div>
