<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-subtitle>
      <h2>Отложенные публикации</h2>
    </mat-card-subtitle>

    <mat-card-title>
      <h2>{{ title }}</h2>
    </mat-card-title>

    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <mat-input-container>
          <label>Имя пользователя: </label>
          <input matInput formControlName="username" required>
        </mat-input-container>
        <mat-input-container>
          <label>Пароль: </label>
          <input matInput formControlName="password" required type="password">
        </mat-input-container>
        <mat-input-container>
          <label>Имя: </label>
          <input matInput formControlName="firstname">
        </mat-input-container>
        <mat-input-container>
          <label>Фамилия: </label>
          <input matInput formControlName="lastname">
        </mat-input-container>
        <button type="submit" [disabled]="!signupForm.form.valid" mat-raised-button color="primary">Зарегистрироваться</button>
      </form>
      <br>
    </mat-card-content>

  </mat-card>

</div>
