<div>
  <div>
    <mat-card style="padding: 0;">
      <mat-card-content>
        <div style="position:relative;">
          <div style="font-family: 'Open Sans', sans-serif; text-align: center; padding: 20px;
          font-size: 25px;">Перетащите изображение для загрузки
          </div>
          <input class="position-absolute" style="
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    top: 0"
                 id="custom-input" type="file" (change)="fileChangeListener($event)">
        </div>
      </mat-card-content>
    </mat-card>
    <br>
    <div *ngIf="!submitted">
      <button
        mat-raised-button
        style="padding: 0 10px; min-width: initial;"
        color="primary" (click)="zoomIn()">+
      </button>
      <button mat-raised-button
              color="primary"
              style="padding: 0 10px; min-width: initial;"
              (click)="zoomOut()">-
      </button>
      <button mat-raised-button
              style="padding: 0 10px; min-width: initial;"
              color="primary" (click)="zoomReset()">Zoom
      </button>
      <button mat-raised-button
              style="padding: 0 10px; min-width: initial;"
              color="primary" (click)="toggleGrid()">Grid
      </button>
      <br>
      <br>
      <image-cropper #imageCropper [image]="data" [showGrid]="showGrid"></image-cropper>

      <form [formGroup]="group">
        <mat-form-field style="width: 100%">
          <mat-placeholder>Дата загрузки</mat-placeholder>
          <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
          <mat-datetimepicker #datetimePicker rowPlaceholder="123" type="datetime" startView="month" openOnFocus="true"
                              timeInterval="1"></mat-datetimepicker>
          <input matInput formControlName="dateTime" [min]="today" [matDatetimepicker]="datetimePicker"
                 required autocomplete="false">
          <mat-error *ngIf="group.get('dateTime').errors?.required">Обязательно для заполнения</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <textarea #comment matInput style="height: 200px" placeholder="Комментарий"></textarea>
        </mat-form-field>
      </form>

      <br>
      <div>
        <button mat-raised-button
                color="primary"
                (click)="uploadFile()">Добавить публикацию
        </button>
      </div>
    </div>
    <mat-spinner style="margin: 0 auto" *ngIf="submitted" mode="indeterminate"></mat-spinner>
  </div>
</div>
