<div *ngIf="!hasSignedIn()&&!instagramUsers" class="content" fxLayout="row" fxLayoutAlign="center none">
  <app-api-card
    fxFlex
    title='"Foo"'
    subTitle="Public"
    imgUrl="assets/image/foo.png"
    content='This is an demo public endpoint which requires no authentication.'
    apiText="/api/foo"
    [responseObj]="fooResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
    fxFlex
    title='"Who am I"'
    subTitle="Authorized role: USER"
    imgUrl="assets/image/user.png"
    content='The regular endpoint which returns the current user information. You have to sign in as either a User or an Admin to gain the access to this endpoint.'
    apiText="/api/whoami"
    [responseObj]="whoamIResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
    class="last"
    fxFlex
    title='"All users"'
    subTitle="Authorized role: ADMIN"
    imgUrl="assets/image/admin.png"
    content='This endpoint will give you a list of all the users. You have to sign in as an Admin to gain the access to this endpoint.'
    apiText="/api/user/all"
    [responseObj]="allUserResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-5">
      <div class="claiming-column">
        <div *ngIf="hasSignedIn()" class="accounts">
          <div class="inbox_people">
            <div class="inbox_chat">
              <div (click)="select(user.uuid)" *ngFor="let user of instagramUsers" class="{{isAccountSelected(user)}}">
                <div class="chat_people">
                  <div class="chat_img"><img src="{{user.profilePic}}" alt="sunil"></div>
                  <div class="chat_ib">
                    <h5>{{user.username}}</h5>
                    <a href="{{user.profileUrl}}" target="_blank">{{user.profileUrl}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="add-account" *ngIf="hasSignedIn()">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <mat-input-container>
                  <input matInput formControlName="username" required placeholder="User">
                </mat-input-container>
                <mat-input-container>
                  <input matInput formControlName="password" required type="password" placeholder="Password">
                </mat-input-container>
                <button type="submit" mat-raised-button color="primary">Login</button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        <input [(ngModel)] = "value">
        <button mat-raised-button color="primary" (click)="getMedia()">Get posts</button>
      </div>
    </div>
    <div class="col col-md-7">
      <div class="post-image" *ngFor="let post of userPosts">
        <img width="200px" height="200px" src="{{post.image_versions2.candidates[0].url}}">
        <button mat-raised-button color="primary" (click)="likePost(post)">Like</button>
      </div>
    </div>
  </div>
</div>


<app-github></app-github>
