.claiming-column {
  width: 350px;
}
//.add-account {
//  width: 350px;
//}
//.accounts {
//  width: 350px;
//}
.post-image {
  display: inline-block;
  width: 210px;
  padding: 5px;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  overflow: hidden;
  width: 350px; border-right:1px solid #c4c4c4;
}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib a{ font-size:14px; color:#989898; margin:auto}
.chat_img img{
  float: left;
  width: 20%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 150px;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 400px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}



app-api-card {
  margin: 0 50px 0 0;
  &.last {
    margin: 0 0 0 0;
  }
}

app-github {
  margin: 50px -70px -50px;
}

mat-card {
  max-width: 350px;
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */

}

mat-input-container {
  display: block;
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  app-api-card {
    margin: 0 4px 0 0;
    &.last {
      margin: 0 0 0 0;
    }
  }

  app-github {
    margin: 20px -30px -20px;
  }
}

@media screen and (max-width: 599px) {

  .content {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
  }

  app-api-card {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
    margin: 0 0 12px 0;
  }

  app-github {
    margin: 8px -12px -8px;
  }

}

